html, body{
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
  }
  #camera, #camera--view, #camera--sensor, #camera--output{
      position: fixed;
      height: 100%;
      width: 100%;
      object-fit: cover;
      
  }
 #button{
    width: 100px;
    background-color: #C87F9D;
    color: white;
    font-size: 16px;
    border-radius: 30px;
    border: none;
    padding: 15px 20px;
    text-align: center;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
    float: left; /* Float the buttons side by side */
    margin: 40px;
   
 }
  
 #button:hover {
    background-color: #00778B;
  }
  #button:active {
    background-color: #00778B;
  }

  #overlay{
    position: fixed;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    
  
    bottom: 300px
  }
  #camera--trigger{
      width: 200px;
      background-color: black;
      color: white;
      font-size: 16px;
      border-radius: 30px;
      border: none;
      padding: 15px 20px;
      text-align: center;
      box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
      position: fixed;
      bottom: 30px;
      left: calc(50% - 100px);
  }


  .taken{
      height: 100px!important;
      width: 100px!important;
      transition: all 0.5s ease-in;
      border: solid 3px white;
      box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
      top: 20px;
      right: 20px;
      z-index: 2;
  }
